@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
    font-family: 'Source Sans',Arial, Helvetica, sans-serif;
    text-align: center;
}

input {
    border-radius: 5px;
}

.done {
    text-decoration: line-through;
}

.item {
    cursor: pointer;
    padding: 5px;
    color: black;
}